@use 'bases/variables' as v; 
@use 'bases/mixins' as m;

.header{
    background-image: linear-gradient(to right, transparentize(v.$primario, .1) 0% ,transparentize(v.$primario, .1) 50%),url(../img/header_bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    position: relative;

    &__content{
        position: relative;
        color: v.$blanco;
        padding: 3rem 0 15% 0 ;
        @include m.tablet{
            padding: 3rem 0 26% 0;
            
        }
        @include m.desktop{
            padding: 3rem 0 22rem 0;

        }
    }
    &__topBar{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
        
        @include m.tablet{
            justify-content: space-between;
            flex-direction: row;
            gap: unset;
        }
    }
    &__logo{
        width: 25rem;
        @include m.tablet{
            width: 22rem;
        }
        @include m.desktop{
            width: 25rem;
        }
    }
    &__info{
        padding-top: 2rem;
        @include m.tablet{
            padding-top: 10rem;
            max-width: 50rem;
        }
    }
    &__titulo{
        text-align: center;
        @include m.tablet{
            text-align: unset;
            margin-bottom: 2rem;
        }
    }
    &__texto{
        color: inherit; 
        display: none;
        @include m.tablet{
            display: unset;
        }
    }
    &__imagen{
        display: none;
        position: absolute;
        bottom: -5rem;
        right: 0;
        border-radius: 20px 0 0 50px;
        @include m.tablet{
            width: 35rem;
            display: unset;
        }
        @include m.desktopXL{
            width: 60rem;
        }
    }

}
.navegacion{
    &__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        @include m.tablet{
            flex-direction: row;
        }
    }
    &__enlace{
        color: inherit;
        @include m.tablet{
            font-size: 1.6rem;
        }
        @include m.desktop{
            font-size: 1.8rem;
        }
    }
}