@use 'bases/variables' as v; 
@use 'bases/mixins' as m;

.header{
    background-image: url('../img/header_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    position: relative;
    background-image: linear-gradient(90deg,rgba(59,72,98,.9) 0,rgba(59,72,98,.9)),url(../img/header_bg.jpg);

    .header__content{
        position: relative;
        color: v.$blanco;
        padding: 3rem 0 15% 0 ;
        @include m.tablet{
            padding: 3rem 0 26% 0;
            
        }
        @include m.desktop{
            padding: 3rem 0 22rem 0;

        }
    }
    .header__topBar{
        display: flex;
        flex-direction: column;
        gap: 5rem;
        justify-content: space-between;
        align-items: center;

        @include m.tablet{
            flex-direction: row;
            gap: unset;
        }
    }
    .header__logo{
        width: 25rem;
        @include m.tablet{
            width: 22rem;
        }
        @include m.desktop{
            width: 25rem;
        }
    }
    .header__info{
        padding-top: 2rem;
        @include m.tablet{
            padding-top: 10rem;
            max-width: 50rem;
        }
    }
    .header__titulo{
        text-align: center;
        @include m.tablet{
            text-align: unset;
            margin-bottom: 2rem;
        }
    }
    .header__texto{
        color: inherit;
        display: none;
        @include m.tablet{
            display: unset;
        }
    }
    .header__imagen{
        display: none;
        position: absolute;
        bottom: -5rem;
        right: 0;
        border-radius: 20px 0 0 50px;
        @include m.tablet{
            width: 35rem;
            display: unset;
        }
        @include m.desktopXL{
            width: 60rem;
        }
    }

}
.navegacion{
    .navegacion__list{
        display: flex;
        gap: 2rem;
        align-items: center;
        flex-direction: column;

        @include m.tablet{
            flex-direction: row;
        }
    }
    .navegacion__enlace{
        color: inherit;
        @include m.tablet{
            font-size: 1.6rem;
        }
        @include m.desktop{
            font-size: 1.8rem;
        }
    }
}